
# Python
__pycache__/
*.py[cod]
*.class
*.so
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
.env
.venv

# VS Code
.vscode/
*.code-workspace

# OS Specific
.DS_Store
Thumbs.db

# Project Specific
data/
ref/
notebooks/

